
html {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAZElEQVQYV2NMTkz+f/rMaQYYMDUxBTPRxRj1dPX+IyuCKQBpQFYMV4guAdKMLAZWiCyAbjVMjhHZjTBFMKcgO4N4hURbDfO1qRHQl+cQwYTVM/DgQVKMETxYA/wfMMCRTAdpAgAYnVTThLM8kAAAAABJRU5ErkJggg==)
	repeat;
}

body { 
	text-align: center;
	font-family: 'Sintony', sans-serif;
	font-size: 1em;
}

.screen {
    position: absolute;
    top: auto;
    left: auto;
    max-height: 40%;
    min-height: 30%;
    max-width: 45%;
    margin: 20% 20% 0 15%;
    padding: 2% 2% 0% 2%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 1);
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    border-radius: 2.5em; 
    letter-spacing: 0.08em; 
}

.no-screen {
    display: none;
}

 #intro, #saveScoreOpt {
	font-size: 110%;
	line-height: 125%;
	text-align: left;
	margin: 6%;
	color: white;
}

h1 {
	float: left;
	font-family: 'Gabriela', serif;
	color: #76f660;
	font-size: 5em;
	width: 70%;
	text-align: center;
	margin-left: 4%;
}

h2 {
	font-size: 1em;
	font-weight: 600; 
}

p {
	font-size: 1em;
}

#middle img {
	margin: 0 0 0 5%;
}

#stats {
	max-width: 13%;
	min-width: 13%;
	float: right;
	margin: 6% 2% 0 0;
	color: black;
	font-size: 1em;
	background-color:lightgray;
	padding: 2%;
	border-radius: .5em;
}

#points p, #counter p {
	padding: 5px;
	border: 1px solid #333;
	border-radius: .5em;
}

#points, #leader-board {
	margin-top: 40px;
}

#high-score {
	font-size: .75em;
}

.red-score {
	border: 1px solid #993333;
	color: red;
	font-weight: 500;
}

.green-score {
	border: 1px solid #993333;
	background-color: #76f660;
	color: black;
	font-weight: 500;
}

.black-score {
	background-color: lightgray;
}

#start-button, #save-button, #playAgain-button, #end-button {
	width: 75px;
	height: 30px;
	font-size: 1em;
	letter-spacing: .05em;
	border-radius: .5em;
	padding: 1%;
}

#save-button, #playAgain-button, #end-button {
	font-size: .7em;
}

#save-button {
	background-color: black;
	color: white;
}

#scoreboard {
	padding: none;
	text-align: left;
}

li:first-child{
	font-size: 1em;
	color: blue;
}

li {
	list-style-type: none;
	text-align: center;
	font-size: 1em;
	padding-bottom: 9px;
	margin-left: 0;
	padding-left: none;
	color: black;
}

#recycling, #trash, #compost {
	clear: float;
}

#bins {
	margin: 0% 5% 0 5%;
}

#binR, #binT, #binC { 
	float: left;
	width: 26%;
}

#pauseMusic-button {
	position: relative;
	float:right;
	background-color: black;
	color: white;
	margin: 22% 5% 5% 0;
}